@model IEnumerable<WebApplication_Practice.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyAlbum.Title)
            </td>
            <td>
                <audio controls="controls">
                    <source src="@item.SongUrl" type="audio/mp3" />
                </audio>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
