@model IEnumerable<WebApplication_Practice.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h2>Albums Home</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyArtist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyGenre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyArtist.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.AlbumID">Edit</a>
                    <span>|</span>
                    <a asp-action="Details" asp-route-id="@item.AlbumID"> Details </a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.AlbumID"> Delete </a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.AlbumID"> Details </a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
