@model IEnumerable<WebApplication_Practice.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h2>Artists Home</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ArtistID">Edit</a>
                    <span>|</span>
                    <a asp-action="Details" asp-route-id="@item.ArtistID"> Details </a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.ArtistID"> Delete </a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ArtistID"> Details </a>
                }
               
            </td>
        </tr>
}
    </tbody>
</table>
